<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shareer">

<uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ImageList"></activity>
        <activity android:name=".ListofPdf" />
        <activity android:name=".PdfUpload" />
        <activity android:name=".ImageUpload" />
        <activity
            android:name=".Client.RegisterClient"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Client.LoginClient"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".HomePage" />
        <activity
            android:name=".User.LoginUser"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".User.RegisterUser"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>